.cart-badge {
  background-color: #a2aa7b;
  color: white;
}

#sortbox:checked ~ #sortboxmenu,
#langbox:checked ~ #langboxmenu {
  opacity: 1;
}

.nav-link-button li:nth-child(5),
.nav-link-button li:nth-child(4) {
  border-left: 2px solid black;
}


.review {
  border-bottom: 1px solid rgb(201, 197, 197);
}
